header {
    position: relative;
    background-color: #350f10;
    border-bottom: 1px solid grey;
    box-shadow: 0px 2px 10px black;
}

.container {
    /* Add your CSS styles for the container */
    display: flex;
    margin: 0 auto;

    align-items: baseline;
    justify-content: space-between;

}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 10em;
}

nav ul li a {
    padding: 1em;

    display: inline-block;
}

a {
    color: whitesmoke;
}

a.logo {
    font-weight: bold;
    padding: 1em;

    margin-left: 10em;
}

a:hover {
    background-color: #35181a;
    text-shadow: 0px 0px 15px black;
}

