.logo-container {
    display: flex;
    justify-content: center;

}

.project-logo-center-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-gradient {
    width: 15em;
    height: 70px;
    /*background: radial-gradient(ellipse at center, rgba(21, 6, 6, 50%), rgba(255, 6, 6, 50%) 70%);*/
    background: #350f10;
    border-radius: 50px;
    position: absolute;
    border: 1px solid grey;
    left: 50%; /* Added left 50% */
    top: 50%; /* Added top 50% */
    transform: translate(-50%, -50%);
}

.logo-gradient:hover {
    shadow: 0px 0px 15px black;
}


.logo {
    font-weight: bold;
    padding: 1em;
    font-size: 2em;
    color: whitesmoke;
    position: absolute;
    left: 50%; /* Added left 50% */
    top: 50%; /* Added top 50% */
    transform: translate(-50%, -50%);
}

a:hover {
    text-shadow: 0px 0px 15px black;
}
