<div class="container">
    <div class="item item-1">

        <div class="logo-container">
            <div class="project-template-grid">
                <div class="project-logo-center-container">
                    <div class="logo-gradient"></div>
                    <a href="#" routerLink="/" class="logo">projectTitle</a>
                </div>
            </div>
        </div>

    </div>

    <div class="item item-2">

        <div class="logo-container">
            <div class="project-template-grid">
                <div class="project-logo-center-container">
                    <div class="logo-gradient"></div>
                    <a href="#" routerLink="/" class="logo">projectTitle</a>
                </div>
            </div>
        </div>

    </div>

    <div class="item item-3">

        <div class="project-container">
            <div class="project-template-grid">
                <div class="project-logo-center-container">
                    <div class="logo-gradient"></div>
                    <a href="#" routerLink="/" class="logo">projectTitle</a>
                </div>
            </div>
        </div>

    </div>
    <div class="item item-4">

        <div class="project-container">
            <div class="project-template-grid">
                <div class="project-logo-center-container">
                    <div class="logo-gradient"></div>
                    <a href="#" routerLink="/" class="logo">projectTitle</a>
                </div>
            </div>
        </div>

    </div>
</div>
