.logo-container {
    display: flex;
    justify-content: center;

}

.logo-center-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-gradient {
    margin-top: 2em;
    width: 20em;
    height: 100px;
    /*background: radial-gradient(ellipse at center, rgba(21, 6, 6, 50%), rgba(255, 6, 6, 50%) 70%);*/
    background: #350f10;
    border-radius: 50px;
    position: absolute;
    border: 1px solid grey;
    box-shadow: 0px 2px 10px black;
}

.logo-gradient:hover {
    shadow: 0px 0px 15px black;
}


.logo {
    font-weight: bold;
    padding: 1em;
    font-size: 3em;
    color: whitesmoke;
    position: relative;
}

a:hover {
    text-shadow: 0px 0px 15px black;
}
